<div id="{{wizard.id}}">
  <div class="row">
    <div class="col">
      <h3>{{ wizard.user }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col" class="avatar-container">
      <img style="max-width: 75%; width: auto; height:auto" src="{{ wizard.avatar }}" alt="Avatar for {{ wizard.user }}" />
      <div id="{{wizard.id}}-avatar-overlay" class="avatar-overlay">
        <span id="{{wizard.id}}-wizard-message" class="avatar-wizard-message"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span id="{{wizard.id}}-health" class="health-bar" style="width:{{health}}%"></span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span id="{{wizard.id}}-mana" class="mana-bar" style="width:{{mana}}%"></span>
    </div>
  </div>
</div>
