<div class="paper-background">
  <header class="bar bar-header bar-stable">
    <h1 class="title">Wizard Duel!</h1>
  </header>
  <div class="container">
    <div class="card">
      <div class="item item-text-wrap center">
        <button ng-click="enterBattle()" class="button button-large xn-block button-assertive">
          Wait for opponent
        </button>
        <div class="">
          <span ng-bind="waiting"></span>
        </div>
      </div>
    </div>
    <div class='username'>
      <label>Optional Screen Name</label>
      <input type="text" ng-model="name">
      <p class='showname'>
        {{prefix}} {{name}}
      </p>
    </div>
  </div>
</div>
