.start-timer {
  position: fixed;
  top: 35%;
  left: 45%;
  height: 100px;
  width: auto;
  text-align: center;
  font-size: 72pt;
  color: $main-text-color;
}

.overlay {
  position: absolute;
  top: 0;
  background-color: $black;
  width: 100%;
  opacity: 0.75;
  height: 99999px;
}
