@import "reset";
@import "variables";
@import "mixins";

/* view imports */
@import "profile";
@import "views/home";

/* directive imports */
@import "start-timer";
@import "meter";


.application-settings {
  font-family: $main-font;
}

.background-image {
  background: url('../imgs/oldpaperbackground.jpg') no-repeat center center;
  min-height:100%;
  background-size:auto;
}



$header-height: 65px;

