#spells {
}

.no-space {
  margin:0;
  padding:0;
}

.red{
  background-color: red;
}

#updates {
  height: 100px;
  border: 1px solid black;
}

.spell-panel {
  margin: 0;
  padding: 0
}

.btn-spell {
  width: 60px;
  height: 80px;
  font-size: x-small;
  line-height: 1;
  padding: 2px;
  margin-bottom:2px;
}

.purple {
  background-color: purple;
}
.container {
  margin-top: 200px;
}

.health-bar {
  background: #FF5656;
  display: block;
  height: 1em
}

.mana-bar {
  background: #A621FF;
  display: block;
  height: 1em
}
