@import "reset";
@import "variables";
@import "mixins";

/* view imports */
@import "profile";
@import "views/home";

/* directive imports */
@import "start-timer";
@import "power-bar";
@import "wizard";


.application-settings {
  font-family: $main-font;
}

// .background-image {
//   background: url('../imgs/oldpaperbackground.jpg') no-repeat center center;
//   min-height:100%;
//   background-size:cover;
// }

/* add from style.css */

#status-bars {
  min-width: 120px;
  max-width: 200px;
  min-height: 50px;
  padding:0;
}
#spells {
  min-width: 366px;
}
.spell-panel {
  min-width: 122px;
}

.btn-spell {
  width: 60px;
  height: 80px;
  margin-bottom: 2px;
  font-size: x-small;
  line-height: 1;
}
#power-vessle {
  min-height: 80px
}

.red{
  background-color: red;
}

.status-bar {
  margin-bottom: 5px;
  border-radius: 2px
}
.purple {
  background-color: purple;
}
.container {
  margin-top: 200px;
}

.health-bar {
  background: #FF5656;
  display: block;
  height: 1em
}

.mana-bar {
  background: #A621FF;
  display: block;
  height: 1em
}

$main-text-color: #fff;
$black: #222;

.overlay {
  position: absolute;
  top: 0;
  background-color: $black;
  width: 100%;
  opacity: 0.75;
  height: 99999px;
}

.spacer {
  min-height: 150px
}

.spell-message {
  display: inline-block;
  height: 1rem;
}
