<header class="row application-settings">
  <h1>Wizard Duel</h1>
</header>
<div class="row content-from-header extra-specificity application-settings">
  <div class="col-75">
    <section class="spell-lib" >
      <ul>
        <li ng-repeat="spell in spells | filter: { inSpellBook: false} " ng-click="addToBook(spell)">
          <span>{{spell.name}}</span>
        </li>
      </ul>
    </section>
    <button ng-click="playNow()">Go to Waiting Room</button>
    <section class="spell-book row">
      <div class='col-30'>
        <h4>Attack Spells</h4>
        <ul>
          <li ng-click="spell.inSpellBook=false" ng-repeat="spell in spells | filter: { inSpellBook: true, role: 'attack'}">
            <span>{{spell.name}}</span>
          </li>
        </ul>
      </div>
      <div class='col-30'>
        <h4>Counter Spells</h4>
        <ul>
          <li ng-click="spell.inSpellBook=false" ng-repeat="spell in spells | filter: { inSpellBook: true, role: 'counter'}">
            <span>{{spell.name}}</span>
          </li>
        </ul>
      </div>
      <div class='col-30'>
        <h4>Enhancer Spells</h4>
        <ul>
          <li ng-click="spell.inSpellBook=false" ng-repeat="spell in spells | filter: { inSpellBook: true, role: 'enhancer'}">
            <span>{{spell.name}}</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <section class="profile col-30">
    <div class="game">
      <span>Wins: {{wins}}</span>
      <span>Losses: {{losses}}</span>
      <span class='stat-item'>Win Percentage: {{winPercent}}%
    </div>
    <div class="match-history">
      <ul>
        <li ng-repeat="game in games | limitTo: 3" class="game">
          <span class="stat-item">Oppnent: {{game.opponent}}</span>
          <span class="stat-item">Result: {{game.result}}</span>
          <span>Stats:</span>
          <span class="stat-item">Damage Dealt: {{game.damageDealt}}</span>
          <span class="stat-item">Favorite Spell: {{game.favoriteSpell}}</span>
          <span class="stat-item">Spellbook: {{game.spellbook}}</span>
        </li>
      </ul>
    </div>
  </section>
</div>