/*core*/
html{
  background:url('../imgs/paperbackground.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
}

body{
  min-height:100%;
}

h1, h2, p, button {
  font-family: Galindo;
  color: #111;
}

h1 {
  display: inline-block;
  font-size: 4em;
  margin-top: 15px;
  margin-left: 15px;
}

h2 {
  display: inline-block;
  font-size: 2em;
  padding: 10px 5px
}

a {
  text-decoration: none;
}

/*layout*/
main {
  max-width: 960px;
  margin: 5% auto;
  padding: 2%;
}

main section {
  margin: 5% 10% auto;
}

main article{
  float: left;
  max-width: 27%;
  margin-top: 20px;
  margin: 8% 2%;
}

/*specific styling*/
span {
  color: #FF6700;
  font-size: 1.25em;
}


main > p {
  margin: 1% auto;
  font-size: 3em;
  text-align: center;
}

a > button {
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 5% auto;
  height: auto;
  padding: 4%;
  font-size: 300%;
  border-radius: 15px;
  text-decoration: none;
  border: #222 solid;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA200), to(#FF6700));
  background-image: -webkit-linear-gradient(top, #FFA200, #FF6700);
  background-image: -moz-linear-gradient(top, #FFA200, #FF6700);
  background-image: -ms-linear-gradient(top, #FFA200, #FF6700);
  background-image: -o-linear-gradient(top, #FFA200, #FF6700);
  background-image: linear-gradient(to bottom, #FFA200, #FF6700);
}

header a > button {
  float: right;
  max-width: 200px;
  margin: 5px 10px;
  border: #111 1px solid;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px;
}

button > img {
  height: 32px;
  width: 32px;
  margin: 5px;
  vertical-align: middle;
}

button span {
  color: #111;
  font-size: 1em;
}

.btn-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.store-image {
  display: inline-block;
  margin: 0 auto;
  height: auto;
  max-width: 300px;
  min-width: 200px;
  width: 50%;
  opacity: 0.8;
}


